---
---

@import 'bootstrap/bootstrap';
html{
  font-size: 16px;
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0d0d0d;
  color: #fff;
}

.icon img{
  height: 1.5rem;
}

.icon-text{
  height: 1rem;
}

.icon + .icon{
  margin-left: 0.5rem;
}

@include media-breakpoint-up(md) {
  .icon img{
    height: 2.5rem;
  }
}

a{
  color: #fff !important;
}

.text-decoration-underline{
  text-decoration: underline;
}

.text-decoration-none{
  text-decoration: none !important;
}

header{
  padding: 1rem 1rem 2rem 1rem;
  @include media-breakpoint-up(md) {
    nav{
      a{
        font-size: 1.25rem;
      }
    }
  }
}

footer{
  padding: 2rem 1rem 1rem 1rem;
}


.content{
  .text{
    padding: 0 1rem;
  }
}

.container{
  max-width: calc(800px + 12rem);
  padding: 0 1rem;
}

.home, .projects{
  .project{
    margin-bottom: 2rem;
    video{
      display: block;
      object-fit: cover;
    }
  }
}

.single-project{
  video{
    width: 100%;
  }
}

.single-post{
  @extend .single-project;

  .content a {
    @extend .text-decoration-underline;
  }
}

.blog{
  .intro-video{
    max-width: calc(800px + 12rem);
    width: 100%;
    padding: 0;
  }
}

@include media-breakpoint-up(md) {
  header{
    padding: 4rem 6rem 0 6rem;
  }
  footer{
    padding: 0 6rem 4rem 6rem;
  }

  .container{
    padding: 0 6rem;
  }

  .blog{
    .intro-video{
      padding: 0 6rem;
    }
  }

  .content{
    .text{
      padding: 0;
    }
  }

  .home{
    .project + .project{
      margin-left: 10vw;
    }
    .project{
      height: calc(100vh - 8rem - 78px - 48px);
      margin-bottom: 0;
      width: 60vw;
      video{
        margin-left: 0;
        max-height: calc(100vh - 8rem - 78px - 48px - 10rem);
        width: 100%;
      }
    }
  }

  .single-project{
    .intro-video{
      max-height: calc(100vh - 8rem - 78px - 48px - 10rem);
      width: auto;
    }
  }

  .next-slide{
    position: absolute;
    height: 100%;
    width: 15vw;
    margin-left: -5vw;
    z-index: 1000;
  }

  .previous-slide{
    position: absolute;
    height: 100%;
    right: 0;
    width: 15vw;
    margin-right: -5vw;
    z-index: 1000;
  }

  .slick-current{
    .next-slide, .previous-slide{
      z-index: 0;
    }
  }
}

.mute-unmute{
  position: absolute;
  margin-top: -2.5rem;
  right: 1.2rem;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar-track {
  //    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
  background-color: transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  //    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: transparent;
}

@include media-breakpoint-up(md) {
  .no-select {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: move;
      cursor: -moz-grab;
      cursor: -webkit-grab;
  }

  .no-select:active {
      cursor: move;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
  }
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

div:focus {
  outline: none;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
