---
layout: default
title: Blog
description: "Read about our side projects. Whitepapers, hacks and inspiration."
sitemap: true
---

<div class="blog">
  <div class="container">
    <div class="row mt-md-4">
      {% for post in site.posts %}
        {% assign minutes = post.content | strip_html | number_of_words | divided_by: 180 %}
        {% if minutes == 0 %}
          {% assign minutes = 1 %}
        {% endif %}
        <div class="col-lg-6 my-lg-5 my-2 order-2 order-lg-1">
          <p class="text-muted mb-1"><span class="text-muted">{{ post.date | date: site.date_format}} • {% if post.minutes %}
              {{ post.minutes }} minute read
            {% else %}
              {{ minutes }} minute read
            {% endif %}</span></p>
          <h2 class="mb-1"><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p class="mb-1">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </p>
          <a class="text-decoration-underline" href="{{ post.url }}">Read the full post</a>
        </div>
        <div class="col-lg-6 my-lg-5 my-2 order-1 order-lg-2">
          <a href="{{ post.url }}"><img class="img-fluid intro-video" src="{{ post.image }}" alt="{{ post.title }}"></a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>