---
layout: default
title: Blog
description: "Read about our side projects. Whitepapers, hacks and inspiration."
sitemap: true
---

<div class="blog">
  {% for post in site.posts %}
    {% assign minutes = post.content | strip_html | number_of_words | divided_by: 180 %}
    {% if minutes == 0 %}
      {% assign minutes = 1 %}
    {% endif %}
    <div class="text-center mt-md-4">
      <img class="img-fluid intro-video" src="{{ post.image }}" alt="{{ post.title }}">
    </div>
    <div class="container mt-3 mt-md-4 mb-5 content">
      <!-- <div class="text-center mt-md-4 mb-3">
        <img class="img-fluid" src="{{ post.image }}" alt="{{ post.title }}">
      </div> -->
      <span class="text-muted">
        {{ post.date | date: site.date_format}} • {% if post.minutes %}
          {{ post.minutes }} minute read
        {% else %}
          {{ minutes }} minute read
        {% endif %}
      </span>
      <h2 class="mb-1 h5">{{post.title}}</h1>
      <p class="mb-1">
        {% if post.summary %}
          {{ post.summary }}
        {% else %}
          {{ post.excerpt }}
        {% endif %}
      </p>
      <a class="text-decoration-underline" href="{{ post.url }}">Read the full post</a>
    </div>
    
  
  {% endfor %}
</div>