---
layout: default
title: Immersive Studio in Amsterdam
description: Better Than Life is an Immersive Studio in Amsterdam focussed on Virtual Reality and Augmented Reality.
---
<div class="home">
  <div class="content fade-in">
    <div class="slick-scroll no-select">
      {% assign sorted = (site.projects | sort: 'position') %}
      {% for project in sorted %}
        <div class="project d-flex">
          <div class="align-self-center">
            <video id="video{{ forloop.index }}" tabindex="0" class="img-fluid" {% if forloop.first %} hr autoplay {% endif %} playsinline poster="{{ project.image }}">
              <source src="{{ project.video }}" type="video/mp4" />
            </video>
          <div class="mt-3">
              <h2 class="h5 mb-1">{{ project.title }}</h2>
              <p class="mb-1">{{ project.subtitle }}</p>
              <a class="text-decoration-underline" href="#">Read more</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  var video = document.querySelector('#video1');
  var promise = video.play();

  if (promise !== undefined) {
    promise.then(_ => {
      // Autoplay started!
    }).catch(error => {
      // Show something in the UI that the video is muted
      video.muted = true;
      // video.controls = true;
      //  setTimeout(function(){
      //     video.controls = true;
      // }, 5000);
    });
  }
</script>


<script src="{{ site.baseurl }}/scripts/RequestAnimationFrame.js"></script>
<script src="{{ site.baseurl }}/scripts/TouchScroll.js"></script>

<script>
        var viewer = new TouchScroll();
        viewer.init({
            id: 'viewer',
            draggable: true,
            wait: false
        });
        
    </script>