<footer class="d-flex justify-content-between">
  <div class="d-none d-md-block">
    <div class="font-weight-bold">Interested in working together?</div>
    Send us a message on <a class="text-decoration-underline" href="https://twitter.com/btl_sandwich">Twitter</a>, <a href="https://www.instagram.com/betterthanlife.io/" class="text-decoration-underline">Instagram</a> or <a href="https://discord.gg/PDm8H7YDfy" class="text-decoration-underline">Discord</a>. 
  </div>
  <div class="">
    <br>
    <a class="text-decoration-underline" href="{{ site.baseurl }}/privacy_policy">Privacy Policy</a>
  </div>
</footer>