<header class="d-md-flex justify-content-between w-100">
  <div class="mb-2 mb-md-0">
    <div class="mb-2">
      <a class="h2 text-decoration-none" href="/">Better Than Life</a>
    </div>
    <div class="h5 font-weight-normal">Immersive Studio</div>
  </div>
  <nav>
    <div class="d-flex" style="margin-top: 2px">
      <a class="mr-2 mr-md-4 my-auto text-decoration-underline" href="{{ site.baseurl }}/projects">Projects</a>
      <a class="mr-2 mr-md-4 my-auto text-decoration-underline" href="{{ site.baseurl }}/blog">Blog</a>
      <a target="_blank" class="icon mr-md-2" href="https://www.instagram.com/betterthanlife.io/">
        <img src="{{ site.baseurl }}/images/instagram.svg" alt="Logo Instagram">
      </a>
      <a target="_blank" class="icon mr-md-2" href="https://twitter.com/btl_sandwich">
        <img src="{{ site.baseurl }}/images/twitter.svg" alt="Logo Twitter">
      </a>
      <a target="_blank" class="icon" href="https://www.youtube.com/channel/UCTlvXuo16nuocHptl7ypltw">
        <img src="{{ site.baseurl }}/images/youtube.svg" alt="Logo Youtube">
      </a>
    </div>
  </nav>
  <div class="d-md-none mt-4">
    <div class="font-weight-bold">Interested in working together?</div>
    <a class="text-decoration-underline" href="mailto:hello@betterthanlife.io">hello@betterthanlife.io</a>
  </div>
</header>