<header class="d-md-flex justify-content-between w-100">
  <div class="mb-4 mb-md-0">
    <a href="/">
      <img style="width: 100px; height: 100px" alt="Better Than Life Logo" src="{{ site.baseurl }}/images/logo_without_black.svg">
    </a>
  </div>
  <nav>
    <div class="d-flex h-100" style="margin-top: 2px">
      <a class="mr-2 mr-md-4 my-auto text-decoration-underline" href="{{ site.baseurl }}/projects">Projects</a>
      <a class="mr-2 mr-md-4 my-auto text-decoration-underline" href="{{ site.baseurl }}/jobs">Jobs</a>
      <a class="mr-2 mr-md-4 my-auto text-decoration-underline" href="{{ site.baseurl }}/blog">Blog</a>
      <a target="_blank" class="my-auto icon mr-md-2" href="https://www.instagram.com/betterthanlife.io/">
        <img src="{{ site.baseurl }}/images/instagram.svg" alt="Logo Instagram">
      </a>
      <a target="_blank" class="my-auto icon mr-md-2" href="https://twitter.com/btl_sandwich">
        <img src="{{ site.baseurl }}/images/twitter.svg" alt="Logo Twitter">
      </a>
      <a target="_blank" class="my-auto icon" href="https://www.youtube.com/channel/UCTlvXuo16nuocHptl7ypltw">
        <img src="{{ site.baseurl }}/images/youtube.svg" alt="Logo Youtube">
      </a>
    </div>
  </nav>
  <div class="d-md-none mt-4">
    <div class="font-weight-bold">Interested in working together?</div>
    Send us a message on <a class="text-decoration-underline" href="https://twitter.com/btl_sandwich">Twitter</a>, <a href="https://www.instagram.com/betterthanlife.io/" class="text-decoration-underline">Instagram</a> or <a href="https://discord.gg/PDm8H7YDfy" class="text-decoration-underline">Discord</a>.
  </div>
</header>