<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% include head.html %}

{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign minutes = 1 %}
{% endif %}


<body class="single-post">
  {% include header.html %}
  <div class="text-center mt-md-4">
  	<img class="img-fluid intro-video" src="{{ page.image }}" alt="{{ page.title }}">
  </div>

  <div class="container my-3 my-md-5 content">
  	<span class="text-muted">{{ page.date | date: site.date_format}} • {% if page.minutes %}
              {{ page.minutes }} minute read
            {% else %}
              {{ minutes }} minute read
            {% endif %}</span>
    <h1>{{page.title}}</h1>
    {{ content }}
  </div>
  {% include footer.html %}
</body>
</html>

