<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% include head.html %}

<body class="single-project">

  {% include header.html %}
  <div class="text-center mt-md-4">
    <video tabindex="0" class="intro-video img-fluid" playsinline controls poster="{{ page.image }}">
      <source src="{{ page.video }}" type="video/mp4" />
    </video>
  </div>

  <div class="container my-3 my-md-5">
    <h1>{{page.title}}</h1>
    {{ content }}
    {% if page.videos %}
      <div class="row justify-content-between mt-4 mt-md-5">
        {% for video in page.videos %}
          <div class="col"> 
            <video tabindex="0" class="img-fluid" playsinline muted autoplay controls loop>
              <source src="{{ video }}" type="video/mp4" />
            </video>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% include footer.html %}
</body>
</html>

